@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito:wght@400;600&display=swap');

[data-testid="stMainViewBlockContainer"] {
    padding: 0 !important;
    max-width: 100% !important;
}

header {visibility: hidden;} 
[data-testid="stSidebar"] {display: none;}

.hero-container {
    padding: 100px 0 0 8%;
    max-width: 1200px;
    text-align: left;
}

.hero-title {
    font-family: 'Nunito', sans-serif;
    color: #604F3B;
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 30px;
    font-weight: 700 !important;
}

.hero-subtitle {
    font-family: 'Nunito', sans-serif;
    color: #604F3B;
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 650px;
    margin-bottom: 20px;
    opacity: 0.85;
    font-weight: 700 !important;
}

.hero-small-text {
    font-family: 'Nunito', sans-serif;
    color: #604F3B;
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 40px;
    opacity: 0.85;
    font-weight: 700 !important;
}

/* Styling Tombol Oval */
.stButton button {
    background-color: #FFFFFF !important;
    color: #604F3B !important;
    border-radius: 50px !important;
    border: 1px solid rgba(96, 79, 59, 0.2) !important;
    padding: 12px 45px !important;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05) !important;
    transition: 0.3s !important;
    margin-left: 8% !important; /* Menyelaraskan dengan padding container */
}

.stButton button:hover {
    background-color: #F8F5F2 !important;
    transform: scale(1.03);
}

.stButton {
    animation: slideUp 1.5s ease-out; /* Sedikit lebih lambat agar ada efek sekuensial */
}

/* Footer Instagram */
.hero-footer-right {
    position: fixed;
    bottom: 40px;
    right: 5%;
    color: #604F3B;
    font-size: 0.95rem;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    font-weight: 700 !important;
}